<div class="page-content">
	<div class="sidebar">
		<h1>Menu</h1>
		<nav>
			<ul>
				<li routerLinkActive="item-active">
					<a routerLink="resultados">Subir Resultados</a>
				</li>
				<li routerLinkActive="item-active">
					<a routerLink="examenes">Agregar examenes</a>
				</li>
				<li routerLinkActive="item-active">
					<a routerLink="users">Crear nuevo administrador</a>
				</li>
			</ul>
		</nav>
	</div>
	<div class="main-content">
		<header class="header">
			<h2>Welcome, Admin</h2>
		</header>
		<main class="dashboard">
			<router-outlet></router-outlet>
		</main>
	</div>
</div>