<div class="page-content">
	<div class="sidebar">
		<h1>Menu</h1>
		<nav>
			<ul>
				<li><a href="#">Subir resultados</a></li>
				<li><a href="#">Agregar examenes</a></li>
				<li><a href="#">Crear nuevo administrador</a></li>
			</ul>
		</nav>
	</div>
	<div class="main-content">
		<header class="header">
			<h2>Welcome, Admin</h2>
		</header>
		<main class="dashboard">
			<div class="widget">
				<h3>Resultados</h3>
				<div class="widget-content">
					<app-admin-resultados></app-admin-resultados>
				</div>
			</div>
			<div class="widget">
				<h3>Gestionar examenes</h3>
				<div class="widget-content">
					<app-admin-examenes></app-admin-examenes>
				</div>
			</div>
			<div class="widget">
				<h3>Lista de usuarios</h3>
				<div class="widget-content">
					<app-admin-users></app-admin-users>
				</div>
			</div>
			<div class="widget">
				<h3>Revenue</h3>
				<div class="widget-content">
					<p>$12,345</p>
				</div>
			</div>
		</main>
	</div>
</div>
