<main>
	<div
		class="container-fluid d-flex align-items-center justify-content-center"
		style="height: 100vh"
	>
		<h1 class="texto-inicio">
			<img class="icon" src="../../../assets/matraz-icon.svg" alt="" /><strong
				>Lab</strong
			>
			Clinico GRG
		</h1>
	</div>

	<div
		class="container-fluid py-4 d-flex align-items-center justify-content-center"
	>
		<div class="row">
			<div class="col">
				<div class="card mx-auto my-4" style="width: 18rem">
					<div class="card-body">
						<h5 class="card-title text-center">Vision</h5>
						<p class="card-text">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima in
							earum corporis mollitia sit deleniti quia optio soluta numquam
							saepe, inventore debitis perferendis enim dolorum fugit vitae ab
							alias magnam!
						</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card mx-auto my-4" style="width: 18rem">
					<div class="card-body">
						<h5 class="card-title text-center">Vision</h5>
						<p class="card-text">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima in
							earum corporis mollitia sit deleniti quia optio soluta numquam
							saepe, inventore debitis perferendis enim dolorum fugit vitae ab
							alias magnam!
						</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card mx-auto my-4" style="width: 18rem">
					<div class="card-body">
						<h5 class="card-title text-center">Vision</h5>
						<p class="card-text">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima in
							earum corporis mollitia sit deleniti quia optio soluta numquam
							saepe, inventore debitis perferendis enim dolorum fugit vitae ab
							alias magnam!
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
