<main>
	<div
		class="container-fluid d-flex align-items-center justify-content-center"
		style="height: 100vh"
	>
		<h1 class="texto-inicio">
			<img class="icon" src="../../../assets/matraz-icon.svg" alt="" /><strong
				>Lab</strong
			>
			Clínico
		</h1>
	</div>

	<div
		class="container-fluid py-4 d-flex align-items-center justify-content-center"
	>
		<div class="row">
			<div class="col">
				<div class="card mx-auto my-4" style="width: 18rem">
					<div class="card-body">
						<h5 class="card-title text-center">Visión</h5>
						<p class="card-text">
							Nuestra visión es optimización de la gestión clínica al
							proporcionar una herramienta integral que facilite la toma,
							almacenamiento y análisis de exámenes de los pacientes, mejorando
							la eficiencia y la calidad de la atención médica.
						</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card mx-auto my-4" style="width: 18rem">
					<div class="card-body">
						<h5 class="card-title text-center">Misión</h5>
						<p class="card-text">
							Nuestra misión es mejorar la calidad de la atención médica al
							proporcionar a los profesionales de la salud una herramienta
							integral que les permita tomar decisiones más informadas y
							personalizadas basadas en datos precisos y actualizados.
						</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card mx-auto my-4" style="width: 18rem">
					<div class="card-body">
						<h5 class="card-title text-center">Aliados</h5>
						<p class="card-text">
							Hemos establecido alianzas estratégicas con distintos laboratorios
							clínicos para desarrollar una plataforma innovadora que permita
							una gestión más eficiente de los datos clínicos y una mejor
							coordinación de la atención médica.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
