<form enctype="multipart/form-data" [formGroup]="resultadoForm" (submit)="uploadResultado()">
	<div class="form-container">
		<div class="drop-zone" [ngClass]="{ over: fileIsOver }" (dragover)="onDragOver($event)"
			(dragleave)="onDragLeave($event)" (drop)="onDrop($event)" (click)="onClick()">
			<p>Arrastre y suelte el archivo</p>
			<p>o</p>
			<label class="btn btn-info">Seleccione el archivo</label>
			<input type="file" accept=".pdf" name="input-file" id="input-file" (change)="onFileSelected($event)" />
		</div>
		@if (file) {
		<div class="div-archivo">
			<p>
				Archivo seleccionado: <span>{{ file.name }}</span>
			</p>
			<button class="btn-delete" (click)="deleteResultado()">
				<img class="icon" src="../../../../assets/trash-can-solid.svg" alt="" />
			</button>
		</div>
		}

		<app-buscador-usuarios (userSelected)="onUserSelected($event)"></app-buscador-usuarios>

		<!-- Select con formControlName -->
		<select class="form-select" formControlName="examenId" aria-label="Default select example">
			<option value="" selected>Seleccionar examen</option>
			@for (examen of examenes; track examen.id) {
			<option [value]="examen.id">
				{{ examen.name }}
			</option>
			}
		</select>

		<button type="submit" class="btn btn-secondary btn-submit" (click)="enviarResultado()"
			[disabled]="resultadoForm.status === 'INVALID'">
			Enviar resultado
		</button>
	</div>
</form>