form {
	height: 100%;
}

input[type=file] {
	display: none;
}

select {
	width: 50%;
}

.form-container {
	display: flex;
	gap: 4vh;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 5vh;
	height: 100%;
}

.drop-zone {
	border: 2px dashed #ccc;
	border-radius: 5px;
	width: 50%;
	height: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 10px;
	transition: background-color 0.3s;
}

.over {
	background-color: #f0f0f0;
}

span {
	color: cornflowerblue;
	font-style: italic;
}

.icon {
	width: 15px;
	height: 15px;
	color: aqua;
}

p {
	margin: 0;
}

.div-archivo {
	display: flex;
	justify-content: center;
}

.btn-delete {
	border: none;
	background-color: transparent;
	margin-left: 7px;
}

.buscador-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}