.icon {
	width: 20px;
	height: 20px;
	margin-inline: 10px;
}

.table-title * {
	background-color: #1976d2;
	color: white;
}

td {
	background-color: #e3f2fd;
}

a {
	color: #3f51b5;
}

table {
	width: 100%;
}
