<h2>Resultados</h2>
<table class="table table-hover">
	<thead>
		<tr class="table-title">
			<th scope="col">Resultado</th>
			<th scope="col">Tipo examen</th>
			<th scope="col">Tomado el:</th>
			<th scope="col">Subido el:</th>
		</tr>
	</thead>
	<tbody>
		@for (result of results; track result.id) {
			<tr>
				<td>
					<a href="{{ result.url }}"
						><img src="../../../../assets/icon-pdf.svg" class="icon" alt="" />{{
							result.name
						}}</a
					>
				</td>
				<td>{{ result.tipoExamen }}</td>
				<td>{{ result.fechaToma | date: "d MMM y" }}</td>
				<td>{{ result.fechaSubido | date: "d MMM y" }}</td>
			</tr>
		}
	</tbody>
</table>
