<div class="main">
	<ul class="cards">
		<li class="cards_item">
			<div class="card" tabindex="0">
				<div class="card_image">
					<img
						src="https://assets.codepen.io/652/photo-1468777675496-5782faaea55b.jpeg"
						alt="mixed vegetable salad in a mason jar. "
					/>
				</div>
				<div class="card_content">
					<h2 class="card_title">
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
					</h2>
					<div class="card_text">
						<p>
							Dig into the freshest veggies of the season! This salad-in-a-jar
							features a mixture of leafy greens and seasonal vegetables, fresh
							from the farmer's market.
						</p>
						<p>
							Served with your choice of dressing on the side:
							<strong
								>housemade ranch, cherry balsamic vinaigrette, creamy chipotle,
								avocado green goddess, or honey mustard.</strong
							>
						</p>
						<p class="upcharge">Add your choice of protein for $2 more.</p>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>
