*,
*::before,
*::after {
	box-sizing: border-box;
}

.main {
	max-width: 80%;
	margin: 0 auto;
}

.cards {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	list-style: none;
	margin: 3vh 0;
	padding: 0;
	gap: 4vh;
}

.cards_item {
	display: flex;
	margin: 0;
	max-height: 95vh;
	max-width: 18vw;
	min-width: 350px;
}

.card_image {
	display: flex;
	height: 300px;
}

.card_image img {
	display: block;
	width: 100%;
	height: auto;
	object-fit: cover;
}

.card {
	display: flex;
	flex-direction: column;
	position: relative;
	overflow: hidden;
	background-color: #64b5f6;
	border-radius: 5px 25px 5px 5px;
	transition:
		transform 0.1s linear,
		box-shadow 0.2s;
}

.card_text:focus,
.card:focus {
	outline: 2px solid #1565c0;
}

.card:focus,
.card:hover {
	transform: scale(1.02);
	box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.4);
}

.card_content {
	padding: 0.5rem 1rem 1rem;
	color: #e1f5fe;
}

.card_title {
	position: absolute;
	top: 0;
	right: 0;
	width: auto;
	max-width: 90%;
	height: auto;
	color: #e1f5fe;
	padding: 0.5rem;
	border-radius: 5px 0 0 5px;
	font-family: Georgia, Times, serif;
	font-weight: bold;
	font-size: 1.325rem;
	text-align: right;
	overflow: hidden;
	z-index: 1;
	background-color: rgba(1, 87, 155, 0.75);
}

.card_text {
	font-family:
		Segoe UI,
		Frutiger,
		Frutiger Linotype,
		Dejavu Sans,
		Helvetica,
		Helvetica Neue,
		Arial,
		sans-serif;
	font-size: 1.1rem;
	font-weight: 200;
	line-height: 1.5;
	padding: 0 1rem;
}

.card_text p:first-of-type:first-letter {
	font-size: 1.8em;
	font-family: Georgia, Times, serif;
	margin-right: 0.05em;
}

@media (min-width: 480px) {
	.card_text {
		overflow: auto;
		max-height: 20rem;
		scrollbar-width: thin;
		scrollbar-color: #e3f2fd #1976d2;
	}

	.card_text::-webkit-scrollbar {
		width: 12px;
	}

	.card_text::-webkit-scrollbar-track {
		background: #1976d2;
	}

	.card_text::-webkit-scrollbar-thumb {
		background-color: #e3f2fd;
	}
}

.card_text strong {
	color: #b4fee7;
}

.upcharge {
	position: relative;
	font-weight: 600;
	background-color: #1976d2;
	padding: 0.5rem 0.75rem;
	color: #b4fee7;
	border-radius: 0 10px;
	z-index: 0;
	overflow: hidden;
}

.upcharge::after,
.upcharge::before {
	content: "+";
	display: block;
	line-height: 0;
	font-size: 3rem;
	position: absolute;
	color: #603f8b;
	z-index: -1;
	opacity: 0.3;
}

.upcharge::before {
	left: 0;
	top: 0.5rem;
}

.upcharge::after {
	right: 0;
	bottom: 1.25rem;
}
