<div class="cont-padre">
	@for (examen of examenes; track examen.id) {
		<div class="contenedor_servicios">
			<div class="box">
				<img src="../../../assets/serviciosImgs/{{ examen.id }}.jpg" alt="" />
			</div>
			<div class="box-datos">
				<h1>{{ examen.name }}</h1>
				<p>
					{{ examen.description }}
				</p>
				<button
					class="btn btn-primary"
					data-bs-toggle="modal"
					data-bs-target="#exampleModal"
					(click)="crearCita()"
				>
					Agendar Cita
				</button>
			</div>
		</div>
		<div class="contenedor_servicios">
			<div class="box">
				<img src="../../../assets/serviciosImgs/{{ examen.id }}.jpg" alt="" />
			</div>
			<div class="box-datos">
				<h1>{{ examen.name }}</h1>
				<p>
					{{ examen.description }}
				</p>
				<button
					class="btn btn-primary"
					data-bs-toggle="modal"
					data-bs-target="#exampleModal"
					(click)="crearCita()"
				>
					Agendar Cita
				</button>
			</div>
		</div>
		<div class="contenedor_servicios">
			<div class="box">
				<img src="../../../assets/serviciosImgs/{{ examen.id }}.jpg" alt="" />
			</div>
			<div class="box-datos">
				<h1>{{ examen.name }}</h1>
				<p>
					{{ examen.description }}
				</p>
				<button
					class="btn btn-primary"
					data-bs-toggle="modal"
					data-bs-target="#exampleModal"
					(click)="crearCita()"
				>
					Agendar Cita
				</button>
			</div>
		</div>
	}
</div>

<!-- Modal -->
<div
	class="modal fade"
	id="exampleModal"
	tabindex="-1"
	aria-labelledby="exampleModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title m-0">Agendar cita</h2>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"
				></button>
			</div>
			<div class="modal-body py-4">
				<div class="input-group mb-3">
					<input
						type="text"
						class="form-control"
						placeholder="Tipo de examen"
						aria-label="Tipo de examen"
						aria-describedby="basic-addon1"
					/>
				</div>
				<div class="datepicker">
					<div class="input-group mb-3">
						<input
							type="text"
							class="form-control"
							placeholder="mm/dd/yy"
							[matDatepicker]="picker"
						/>
					</div>
					<mat-datepicker-toggle
						matIconSuffix
						[for]="picker"
					></mat-datepicker-toggle>
					<mat-datepicker #picker></mat-datepicker>
					<div class="input-group mb-3">
						<input
							type="text"
							class="form-control"
							placeholder="Hora"
							aria-label="Hora"
						/>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
					Cerrar
				</button>
				<button type="button" class="btn btn-primary">Guardar</button>
			</div>
		</div>
	</div>
</div>
